CLIENT_URL=https://intern-link.hawali.site
NODE_URL=https://intern-link-node.hawali.site
NEXT_PUBLIC_API_URL=https://intern-link-php.hawali.site
NEXT_PUBLIC_SOCKET_URL=https://intern-link-node.hawali.site
DB_HOST=mysql
DB_NAME=magang_db
DB_USER=root
DB_PASS=root
CHAT_SERVER_URL=https://intern-link-node.hawali.site
UPLOAD_DIR=/var/www/html/uploads/cv
MONGODB_URI=mongodb://mongodb:27017/magang_chat
PORT=3000
MYSQL_ROOT_PASSWORD=root
MAIL_PASSWORD=re_xxxxxxxxx
MAIL_FROM_ADDRESS=noreply@intern-link.hawali.site
MAIL_FROM_NAME=intern-link
MAIL_TIMEOUT=10
TEST_EMAIL=emailkamu@gmail.com
