NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
DB_HOST=mysql
DB_NAME=magang_db
DB_USER=root
DB_PASS=root
CHAT_SERVER_URL=http://node-backend:3000
UPLOAD_DIR=/var/www/html/uploads/cv
MONGODB_URI=mongodb://mongodb:27017/magang_chat
PORT=3000
MYSQL_ROOT_PASSWORD=root
