DB_HOST=mysql
DB_NAME=magang_db
DB_USER=root
DB_PASS=root
CHAT_SERVER_URL=http://node-backend:3000
UPLOAD_DIR=/var/www/html/uploads/cv
MAIL_PASSWORD=re_xxxxxxxxx
MAIL_FROM_ADDRESS=noreply@intern-link.hawali.site
MAIL_FROM_NAME=intern-link
MAIL_TIMEOUT=10
TEST_EMAIL=emailkamu@gmail.com
